body {
  background-image: url('https://photos3.fotosearch.com/bthumb/CSP/CSP992/food-background-clipart__k12888381.jpg');
  height: 100%;
  font-family: 'Overpass', sans-serif;
}

.main {
  background-color: white;
  text-align: center;
  margin-top: 25%;
  margin-left: 350px;
  margin-right: 350px;
  border: white 10px solid;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

button {
  background-color: red;
  padding: 50px 40px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  outline: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  img {
    height: 20px;
  }

  .main {
    background-color: white;
    text-align: center;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 50px;
    border: white 10px solid;
  }

  button {
    background-color: red;
    padding: 40px 20px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    outline: 0;
  }
}
/* 
@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  img {
    height: 15px;
  }

  .main {
    background-color: white;
    text-align: center;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 50px;
    border: white 10px solid;
  }

  button {
    background-color: red;
    padding: 40px 20px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    outline: 0;
  }
} */
