body {
  background-image: url('https://photos3.fotosearch.com/bthumb/CSP/CSP992/food-background-clipart__k12888381.jpg');
  height: 100%;
  font-family: 'Overpass', sans-serif;
}

.main {
  background-color: white;
  text-align: center;
  margin-top: 25%;
  margin-left: 350px;
  margin-right: 350px;
  border: white 10px solid;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

button {
  background-color: red;
  
}